<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Dataset -->
  <arg name="sequence" default="sequence_1" />  <!-- sequence_1, sequence_2 -->
  <arg name="data_path" default="/media/lukas/T7/Datasets/DOALS/hauptgebaeude" />
  <arg name="player_rate" default="0.2" />
  
  <!-- Evaluation -->
  <arg name="eval_folder" default="/home/voliro/data/" />
  <arg name="experiment_name" default="results_station_seq1_light3" />
  
  <!-- Motion Detector -->
  <arg name="config_file" default="motion_detector/doals.yaml" />
  
  <!-- Drift Simulation -->
  <arg name="drift_simulation_data" default="/home/voliro/data/simulated_drift/HB/sequence_1/simulated_drift_light3.csv" />
  
  
  
  
  <!-- Run Nodes -->
  <param name="use_sim_time" value="true" />

  <!-- Play the bag -->
  <node name="player" pkg="rosbag" type="play" output="log"
   args="--quiet --clock  --rate $(arg player_rate) $(arg data_path)/$(arg sequence).bag -d 10" required="true" /> 
   
  <!-- Lidar Undistortion -->
  <node name="lidar_undistortion" pkg="lidar_undistortion" type="lidar_undistortion_node">
    <remap from="pointcloud" to="/os1_cloud_node/points" />
    <param name="odom_frame_id" value="map" />
    <param name="lidar_frame_id" value="os1_lidar" />
  </node>

  <!-- Drift Simulation -->
  <node name="read_simulated_drift" pkg="drift_simulation" type="drift_reader" output="log" >
    <remap from="pointcloud" to="/os1_cloud_node/points" />
    <param name="drift_simulation_data" value="$(arg drift_simulation_data)" />
  </node>

  <!-- Motion Detection -->
  <node name="lidar_motion_detection" pkg="lidar_motion_detection" type="motion_detector" output="screen" args="-alsologtostderr">
    <remap from="pointcloud_intercepted" to="/lidar_undistortion/pointcloud_corrected"/>
    <rosparam command="load" file="$(find lidar_motion_detection)/config/$(arg config_file)" />
    <param name="config_file" value="$(arg config_file)" />
    <param name="ground_truth_file" value="$(arg data_path)/$(arg sequence)/indices.csv" />
    <param name="bag_file" value="$(arg data_path)/$(arg sequence).bag" />
    <param name="sequence_name" value="$(arg sequence)" />
    <param name="eval_folder" value="$(arg eval_folder)" />
    <param name="experiment_name" value="$(arg experiment_name)" />
  </node>

</launch>
