<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Dataset -->
  <arg name="data_path" default="/media/lukas/T7/Datasets/LMO" />
  <arg name="bag_id" default="stairs_1" />
  <!-- hg_1, hg_2, indoor_1, ramp_1, ramp_2, corr_1, corr_2, stairs_1 -->
  <!-- Note: corr_1 is HG indoor with bouncing ball -->
  <arg name="player_rate" default="1" /> <!-- 0.3 -->
  <arg name="record_video" default="true" />
  
  <!-- Motion Detector -->
  <arg name="config_file" default="motion_detector/default.yaml" />
  
  
  <!-- Run Nodes -->
  <!-- <param name="use_sim_time" value="true" /> -->

  <!-- Play the bag -->
  <node name="player" pkg="rosbag" type="play" args="--quiet --rate $(arg player_rate) $(arg data_path)/$(arg bag_id).bag -d 1 -s 2" /> 
   
  <!-- Lidar Undistortion -->
  <node name="lidar_undistortion" pkg="lidar_undistortion" type="lidar_undistortion_node">
    <remap from="pointcloud" to="/os_cloud_node/points" />
    <param name="odom_frame_id" value="map" />
    <param name="lidar_frame_id" value="os_lidar" />
  </node>

  <!-- Motion Detection -->
  <!-- <node name="motion_detector" pkg="dynablox_ros" type="motion_detector" output="screen" args="alsologtostderr" required="true">
    <remap from="pointcloud" to="/lidar_undistortion/pointcloud_corrected" />
    <rosparam command="load" file="$(find dynablox_ros)/config/$(arg config_file)" />
  </node> -->
  
  <!-- Visualize -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find dynablox_ros)/config/rviz/default.rviz"/>

  <!-- Record the visualization -->
  <node name="recorder" pkg="dynablox_ros" type="process_data_bag.py" output="screen"/> 

</launch>
