<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Dataset -->
  <arg name="data_path" default="/media/lukas/T7/data/video/doals" />
  <arg name="bag_id" default="station_1" /> 
  <!-- /lmo: hg_1, hg_2, indoor_1, ramp_1, ramp_2, corr_1, corr_2, stairs_1 -->
  <!-- /doals: hg_, niederdorf_, shopville_, station_, <1, 2> -->
  <arg name="play_rate" default="1" />
  
  
  

  <!-- Play the bag -->
  <param name="use_sim_time" value="true"/>
  <node name="player" pkg="rosbag" type="play" args="--quiet --clock --rate $(arg play_rate) $(arg data_path)/$(arg bag_id)_video.bag -s 25" /> 
  
  <!-- Visualize -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find dynablox_ros)/config/rviz/video.rviz"/>
  

</launch>
